body {
    background-color: #0a0a0a;
    color: #e0e0e0;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-box {
    background-color: #111;
    padding: 2em;
    border: 1px solid #333;
    border-radius: 10px;
    text-align: center;
}

input {
    margin: 0.5em 0;
    padding: 0.5em;
    width: 100%;
    border: none;
    background-color: #222;
    color: white;
}

button {
    background:crimson;
    padding: 0.7em 1.5em;
    background-color: #6e1a1a;
    color: white;
    border: none;
    cursor: pointer;
}